@import "tailwindcss";

* {
  font-family:
    system-ui,
    -apple-system;
}

body,
#root {
  min-height: 100vh;
  width: 100%;
  background: #1a1919;
  background: linear-gradient(
    90deg,
    rgba(26, 25, 25, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  color: #fff;
}

.pic {
  background-image: url("./assets/pictures/person.jpg");
}
